{
	"mainmenu": [
		{
			"name": "TV Series",
			"tag": "demo",
			"type": "tvshows",
			"url": "http://demo.example.net/data/tv-series/",
			"proto": "http"
		},
		{
			"name": "Movies",
			"tag": "demo",
			"type": "movies",
			"url": "http://demo.example.net/data/movies/",
			"proto": "webdav"
		}
	]
}

