#main-buttons {
	position: relative;
	width: 100%;
	height: calc(70% - 2em);
	outline: none;
}

.main-button {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	outline: none;
}
.main-button img {
}
.main-button img {
	cursor: pointer;
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 25%;
	outline: none;
}

.main-button img:focus {
	width: 51%;
}

.main-button img:hover {
	width: 52%;
}

.main-button img:active {
	width: 49%;
}

